.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color: transparent;
}
li, a{
    font-weight: 500;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    align-items: center;
}
.navbar{
    list-style: none;
    display: flex;
}
.navbar li{
    display: inline-block;
    padding: 0 20px;
}
.navbar li a{
    transition: all 0.3s ease 0s;
    font-size: 1.2rem;
}
.navbar li a:hover{
    color: red;
}
.hero-logo{
   height: 66px;
   width: 170px;

}